.example-spacer {
    flex: 1 1 auto;
  }
   .blinky{
    margin: auto;
    text-align: center;
    /* for support in Safari 4.0 - 8.0 */
     -webkit-animation:
      3.0s linear infinite blinky-effect;
    animation: 3.0s linear infinite blinky-effect;
}
@keyframes blinky-effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  .bg-color {
      background-color: #3f51b5;
  }