/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #f5f5f5;}

body { margin: 0; font-family: AvertaStd,-apple-system,BlinkMacSystemFont,sans-serif;}

.text-center { text-align: center;}

.ml20 { margin-left: 20px !important;}
.mr20 { margin-right: 20px !important;}
.mt20 { margin-top: 20px !important;}
.mb20 { margin-bottom: 20px !important;}

.ml10 { margin-left: 10px !important;}
.mr10 { margin-right: 10px !important;}
.mt10 { margin-top: 10px !important;}
.mb10 { margin-bottom: 10px !important;}

.academics{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1d1d1f
    !important
}

.academics1{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style:normal;
    color: whitesmoke
    !important
}